header{
    background-color: #f4511f;
}



.carousel-caption h5{
font-size: 50px;
color: #ffc107;
text-shadow: #303030;
text-shadow: #303030;
}

div.card-body:hover{
    zoom: 101%;
    }

 div div img :hover{
        zoom: 105%;
    }

div a.btn:hover{
    zoom: 101%;
    }